
/*全体*/
html,body {
    font-family: serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: white;

/*タイマーを中央へ*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/*タイトル*/
.title {
    font-size: 16px;
    color: #927795;
    text-align: center;
    margin-bottom: 10px;
}

/* タイマー全体 */
.timer {
    display: flex;
    gap: 20px;
    text-align: center;
}

/* 丸いデザイン */
.time-box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #beddd6;

    /* デザインを中央へ */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #887668;
}

/* 数字 */
.number {
    font-size: 40px;
    font-weight: bold;
    color: #887668;
    margin: 0;
}

/* 時間,分,秒 */
.label {
    font-size: 20px;
    margin-top: 5px;
    color: #887668;
}

/* メッセージ */
#message {
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
    color: #b87e92;
}